<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.registrationapplication">

    <uses-permission android:name=" android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RegistrationApplication">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />


        <receiver
            android:name=".test.Restarter"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="restartService" />
            </intent-filter>
        </receiver>

        <activity android:name="com.example.customapplication.motionLayout.AboutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".test.BroadCastService"
            android:enabled="true"></service>

        <activity android:name=".SwipeMotionActivity" />
        <activity android:name=".EmailActivity" />
        <activity android:name=".motion.MotionStartActivity" />
        <activity android:name=".RatingActivity" />
        <activity android:name=".motion.MotionEndActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".test.DemoOneActivity"></activity>
    </application>

</manifest>